<a href="https://colab.research.google.com/github/Rajyalaxmi29/pandas/blob/main/All_practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Raj", "Anu", None, "Kiran", "Meena"],
    "Age": [25, np.nan, 29, 35, None],
    "Department": ["IT", "HR", "IT", None, "Finance"],
    "Salary": [50000, 45000, None, 70000, 60000],
    "Experience": [2, 1, np.nan, 10, 5],
    "Joining_Date": ["2022-06-01", None, "2021-03-15", "2015-08-20", "2019-11-10"]
})
df

   Employee_ID   Name   Age Department   Salary  Experience Joining_Date
0          101    Raj  25.0         IT  50000.0         2.0   2022-06-01
1          102    Anu   NaN         HR  45000.0         1.0         None
2          103   None  29.0         IT      NaN         NaN   2021-03-15
3          104  Kiran  35.0       None  70000.0        10.0   2015-08-20
4          105  Meena   NaN    Finance  60000.0         5.0   2019-11-10

In [118]:
df.head()
df.tail()
df.shape
df.columns
df['Name'][0]
df.loc[[1,2],["Age","Experience"]]
df.iloc[:,[1,2]]
df.set_index("Name")
df.reset_index()
df
df.Department=='IT'
df.loc[df.Department=='IT']
df.loc[(df.Department=='IT') & (df.Experience==2)]
df.loc[df.Department.isin(["IT","gh"])]
df.notnull()
df.isnull().sum()
df["mails"]=["r@g.com","a@g.com","n@g.com","k@g.com","m@g.com",]
df
df.Salary.describe()
df.Salary.mean()
df.Salary.median()
df.Department.value_counts()
df.Salary.count()
df.Salary.sum()
#map
df["quality"]=df.Age.map(lambda p:'good'if p<=25 else 'bad')
df
#apply
def r(q):
  if q["Salary"]>=50000:
    return "best"
  else:
    return "improve"
df["Sal_est"]=df.apply(r,axis=1)
df

df.sort_values('Salary',ascending=False)

idx=df.Experience.idxmax()
idx

df["len_name"]=df.Name.str.len()

df.sort_values("len_name",ascending=False)
df.groupby("len_name").len_name.value_counts()

df.groupby("Department").Salary.mean()

df.groupby("Experience").Department.value_counts()

# # Using groupby() and agg(), find the average salary and maximum age for each department.
# df.groupby("Department")["Salary"].agg(["mean", "max"])

# # Using groupby() and apply(), create a result that shows only employees whose salary is above the departmentâ€™s average salary.
# df.groupby("Department").apply(lambda x: x[x["Salary"] > x["Salary"].mean()])
df.dtypes
df.Age.astype('float64')
df.isnull().sum()
df[pd.isnull(df.Age)]
df.fillna("unknown")
df=df.fillna(method="bfill")

/tmp/ipython-input-518551210.py:61: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill")

,Employee_ID,Name,Age,Department,Salary,Experience,Joining_Date,mails,quality,Sal_est,len_name
0,101,Raj,25.0,IT,50000.0,2.0,2022-06-01,r@g.com,good,best,3.0
1,102,Anu,NaN,HR,45000.0,1.0,None,a@g.com,bad,improve,3.0
2,103,None,29.0,IT,NaN,NaN,2021-03-15,n@g.com,bad,improve,NaN
3,104,Kiran,35.0,None,70000.0,10.0,2015-08-20,k@g.com,bad,best,5.0
4,105,Meena,NaN,Finance,60000.0,5.0,2019-11-10,m@g.com,bad,best,5.0

In [137]:
s=np.array([1,2,3,4])
t=np.array([4,5,6,7])
b=s*t
print(b)

b>10
b[b<20]
d=np.array([[1,2],
            [3,4]])
print(d)
d[1][1]
d[1,:]
d[:,1]
d.mean()
np.mean(d)
np.median(d)
np.std(d)

[ 4 10 18 28]
[[1 2]
 [3 4]]

np.float64(1.118033988749895)