<a href="https://colab.research.google.com/github/Rajyalaxmi29/pandas/blob/main/moviesdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
!pip install opendatasets
import opendatasets as od
od.download("https://www.kaggle.com/datasets/akshaydattatraykhare/movies-dataset")

Requirement already satisfied: opendatasets in /usr/local/lib/python3.12/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from opendatasets) (4.67.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from opendatasets) (8.3.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (0.5.1)
Skipping, found downloaded files in "./movies-dataset" (use force=True to force download)

In [45]:
import pandas as pd
df=pd.read_csv("/content/movies-dataset/tmdb_5000_movies.csv")
df
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

ðŸŽ¬ Scenario Practice Question (TMDB Movies Dataset)

You work for a movie analytics team planning promotions for popular, short movies.

Task:

Convert release_date to datetime and filter movies released from 2015 onwards.

Define short movies as those with runtime less than 90 minutes.

From these recent short movies, keep only movies with vote_average greater than 7.

Among the remaining movies, find the most frequent genre (use the genres column).

Save this genre as a variable named:

top_genre_recent_short_popular

In [46]:
fliter_data=df[df['release_date']>='2015']
fliter_data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004
26,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,"[{""id"": 393, ""name"": ""civil war""}, {""id"": 6091...",en,Captain America: Civil War,"Following the events of Age of Ultron, the col...",198.372395,"[{""name"": ""Studio Babelsberg"", ""id"": 264}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-04-27,1153304495,147.0,"[{""iso_639_1"": ""ro"", ""name"": ""Rom\u00e2n\u0103...",Released,Divided We Fall,Captain America: Civil War,7.1,7241
28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,75000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,360188,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 9970,...",en,Queen Crab,A meteor crashes into a quiet lake in the remo...,0.140989,"[{""name"": ""Polonia Brothers Entertainment"", ""i...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-09-29,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Queen Crab,3.3,3
4755,50000,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,322745,[],en,Counting,An associative collection of visual impression...,0.293587,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-02-09,0,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Counting,8.3,3
4767,50000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,290391,"[{""id"": 9748, ""name"": ""revenge""}, {""id"": 9826,...",en,"Run, Hide, Die",On the anniversary weekend of the death of a y...,0.595809,"[{""name"": ""Little Big Film Company"", ""id"": 260...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-09-01,0,75.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Five girls, one secret. Revenge stalks them in...","Run, Hide, Die",3.5,2
4780,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,366967,[],en,Dutch Kills,A desperate ex-con is forced to gather his old...,0.038143,[],[],2015-10-02,0,90.0,[],Released,NaN,Dutch Kills,0.0,0
4783,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,226458,"[{""id"": 9712, ""name"": ""possession""}]",en,Backmask,"During an all-night, drug-fueled party at an a...",3.619167,"[{""name"": ""GO Productions"", ""id"": 2943}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-01-16,0,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,nederlands,Backmask,4.7,79

In [47]:
short_movies=fliter_data[fliter_data['runtime']<=90]
short_movies

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
313,99000000,"[{""id"": 16, ""name"": ""Animation""}]",http://www.peanutsmovie.com/,227973,"[{""id"": 11825, ""name"": ""based on comic strip""}...",en,The Peanuts Movie,Snoopy embarks upon his greatest mission as he...,34.308098,"[{""name"": ""Blue Sky Studios"", ""id"": 9383}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-11-05,246233113,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The story of an underdog. And his dog.,The Peanuts Movie,6.5,604
464,80000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",NaN,159824,"[{""id"": 272, ""name"": ""transylvania""}, {""id"": 6...",en,Hotel Transylvania 2,When the old-old-old-fashioned vampire Vlad ar...,61.692197,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-09-21,473226958,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,They're back to raise a little terror,Hotel Transylvania 2,6.7,1497
474,0,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...",NaN,330770,"[{""id"": 428, ""name"": ""nurse""}, {""id"": 658, ""na...",fr,Ã‰volution,11-year-old Nicolas lives with his mother in a...,3.300061,"[{""name"": ""Ex Nihilo"", ""id"": 3307}, {""name"": ""...","[{""iso_3166_1"": ""BE"", ""name"": ""Belgium""}, {""is...",2015-09-14,0,81.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""}]",Released,NaN,Evolution,6.4,47
492,8000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 16, ""nam...",NaN,293644,"[{""id"": 209714, ""name"": ""3d""}]",es,Don Gato: El inicio de la pandilla,Top Cat has arrived to charm his way into your...,0.719996,"[{""name"": ""Anima Estudios"", ""id"": 9965}, {""nam...","[{""iso_3166_1"": ""IN"", ""name"": ""India""}, {""iso_...",2015-10-30,0,89.0,[],Released,NaN,Top Cat Begins,5.3,9
504,75000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://www.thesecretlifeofpets.com/,328111,"[{""id"": 2551, ""name"": ""pet""}, {""id"": 3208, ""na...",en,The Secret Life of Pets,The quiet life of a terrier named Max is upend...,31.482872,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-06-18,875958308,87.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Think this is what they do all day?,The Secret Life of Pets,5.9,3462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4710,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,335244,"[{""id"": 187056, ""name"": ""woman director""}]",en,Antarctic Edge: 70Â° South,"In 2014, scientists declared West Antarctic ic...",0.021392,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-17,0,72.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Antarctic Edge: 70Â° South,0.0,0
4723,100000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",http://thegallowsmovie.com/,299245,"[{""id"": 2125, ""name"": ""gallows""}, {""id"": 6270,...",en,The Gallows,20 years after a horrific accident during a sm...,18.045782,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-07-10,42664410,87.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Every School Has Its Spirit,The Gallows,4.9,361
4741,75000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,360188,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 9970,...",en,Queen Crab,A meteor crashes into a quiet lake in the remo...,0.140989,"[{""name"": ""Polonia Brothers Entertainment"", ""i...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-09-29,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Queen Crab,3.3,3
4767,50000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,290391,"[{""id"": 9748, ""name"": ""revenge""}, {""id"": 9826,...",en,"Run, Hide, Die",On the anniversary weekend of the death of a y...,0.595809,"[{""name"": ""Little Big Film Company"", ""id"": 260...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-09-01,0,75.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Five girls, one secret. Revenge stalks them in...","Run, Hide, Die",3.5,2
4780,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",NaN,366967,[],en,Dutch Kills,A desperate ex-con is forced to gather his old...,0.038143,[],[],2015-10-02,0,90.0,[],Released,NaN,Dutch Kills,0.0,0

In [48]:
vote_avg=short_movies[short_movies['vote_average']>7]
vote_avg

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3249,0,"[{""id"": 12, ""name"": ""Adventure""}]",http://www.focusfeatures.com/kicks,385736,"[{""id"": 3405, ""name"": ""blow job""}, {""id"": 1173...",en,Kicks,When his hard-earned kicks get snatched by a l...,3.467923,"[{""name"": ""Bystorm Films"", ""id"": 2903}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-09-09,0,80.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They aren't just shoes,Kicks,7.5,18
3992,0,[],NaN,346081,[],en,Sardaarji,A ghost hunter uses bottles to capture trouble...,0.296981,[],"[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2015-06-26,0,0.0,[],Released,NaN,Sardaarji,9.5,2
4247,1,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",NaN,361505,[],en,Me You and Five Bucks,"A womanizing yet lovable loser, Charlie, a wai...",0.094105,[],[],2015-07-07,0,90.0,[],Released,"A story about second, second chances",Me You and Five Bucks,10.0,2
4405,0,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 35, ""...",https://www.epicbuzz.net/movies/karachi-se-lahore,357441,[],en,Karachi se Lahore,A road trip from Karachi to Lahore where 5 fri...,0.060003,[],"[{""iso_3166_1"": ""PK"", ""name"": ""Pakistan""}]",2015-07-31,0,0.0,"[{""iso_639_1"": ""ur"", ""name"": ""\u0627\u0631\u06...",Released,NaN,Karachi se Lahore,8.0,1

In [49]:
# top_genre_recent_short_popular=vote_avg.iloc[0]
# top_genre_recent_short_popular
import ast
def q(r):
  if pd.isna(r):
    return []
  g_l=ast.literal_eval(r)
  return [g['name'] for g in r]
  vote_avg['g_n']=vote_avg['genres'].apply(q)
  all_gener=vote_avg['g_n'].explode()
  t=all_gener.value_counts.idxmax()
  print(t)