<a href="https://colab.research.google.com/github/Rajyalaxmi29/pandas/blob/main/pandas_grouping_and_sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from opendatasets) (8.3.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2025.11.12)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [3]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/zynicide/wine-reviews?select=winemag-data-130k-v2.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: rajyalaxmikunchala06
Your Kaggle Key: ¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑
Dataset URL: https://www.kaggle.com/datasets/zynicide/wine-reviews
Downloading wine-reviews.zip to ./wine-reviews

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 50.9M/50.9M [00:00<00:00, 1.15GB/s]

In [4]:
import pandas as pd
df=pd.read_csv("/content/wine-reviews/winemag-data-130k-v2.csv")
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

üü¢ QUESTION 1 (VERY EASY ‚Äì WARM UP)

Using the wine reviews dataset:

üëâ Find how many wine reviews are there for each country.
The output should show:

country

number of reviews per country

üí° Hint (not code):
Think ‚Üí ‚Äúgroup by country, then count rows‚Äù

In [5]:
df.groupby('country').points.count()

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: points, dtype: int64

üü¢ QUESTION 2 (Easy ‚Üí Medium)

Find the average points given to wines from each country, and display the result sorted from highest average points to lowest.

Expected thinking (no code):

Group by country

Calculate mean of points

Sort the result in descending order

In [6]:
a=df.groupby('country').points.mean()
res=a.sort_values(ascending=False)
res

country
England                   91.581081
India                     90.222222
Austria                   90.101345
Germany                   89.851732
Canada                    89.369650
Hungary                   89.191781
China                     89.000000
France                    88.845109
Luxembourg                88.666667
Australia                 88.580507
Switzerland               88.571429
Morocco                   88.571429
US                        88.563720
Italy                     88.562231
Israel                    88.471287
New Zealand               88.303030
Portugal                  88.250220
Turkey                    88.088889
Slovenia                  88.068966
South Africa              88.056388
Bulgaria                  87.936170
Georgia                   87.686047
Lebanon                   87.685714
Serbia                    87.500000
Armenia                   87.500000
Spain                     87.288337
Greece                    87.283262
Czech Republic            87.250000
Croatia                   87.219178
Moldova                   87.203390
Cyprus                    87.181818
Slovakia                  87.000000
Macedonia                 86.833333
Uruguay                   86.752294
Argentina                 86.710263
Bosnia and Herzegovina    86.500000
Chile                     86.493515
Romania                   86.400000
Mexico                    85.257143
Brazil                    84.673077
Ukraine                   84.071429
Egypt                     84.000000
Peru                      83.562500
Name: points, dtype: float64

üü¢ QUESTION 3 (Medium)

For each points value, find the minimum price of wine that received that rating.

In simple words:

For wines rated 80, 81, 82, ...

What is the cheapest wine for each rating?

üí° Think step-by-step:

Group by points

Work on price

Use a summary function

In [7]:
df.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

üü° QUESTION 4 (Medium ‚Üí Hard)

For each country, find the wine that has the highest points.
Return the full row (title, points, price, etc.) for each country.

üí° Thinking hints (no code):

Group by country

Inside each group, find row with max points

Return that entire row

In [8]:
df.groupby('country').apply(lambda x:x.loc[x.points.idxmax()])

/tmp/ipython-input-1742242680.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('country').apply(lambda x:x.loc[x.points.idxmax()])

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,,,
Argentina,82754,Argentina,"If the color doesn't tell the full story, the ...",Nicasia Vineyard,97,120.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Bodega Catena Zapata 2006 Nicasia Vineyard Mal...,Malbec,Bodega Catena Zapata
Armenia,66146,Armenia,"Deep salmon in color, this wine offers a bouqu...",Estate Bottled,88,15.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Ros√© (Armenia),Ros√©,Van Ardi
Australia,345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
Austria,109406,Austria,Opulent honey and lemon aromas waft from the g...,Zwischen den Seen Nummer 9 Trockenbeerenauslese,98,NaN,Burgenland,NaN,NaN,Roger Voss,@vossroger,Kracher 2008 Zwischen den Seen Nummer 9 Trocke...,Welschriesling,Kracher
Bosnia and Herzegovina,96759,Bosnia and Herzegovina,A mix of red and black fruits pervade on the n...,NaN,88,12.0,Mostar,NaN,NaN,Jeff Jenssen,@worldwineguys,Winery ƒåitluk 2011 Blatina (Mostar),Blatina,Winery ƒåitluk
Brazil,72991,Brazil,Stony polished white-fruit aromas are lean and...,Brut Nature,89,36.0,Pinto Bandeira,NaN,NaN,Michael Schachner,@wineschach,Cave Geisse 2013 Brut Nature Sparkling (Pinto ...,Sparkling Blend,Cave Geisse
Bulgaria,35926,Bulgaria,This Bulgarian red blend is produced under the...,CR,91,30.0,Thracian Valley,NaN,NaN,Jeff Jenssen,@worldwineguys,Castra Rubra 2010 CR Red (Thracian Valley),Bordeaux-style Red Blend,Castra Rubra
Canada,7878,Canada,"Smooth as silk and deeply concentrated, this o...",Riesling Icewine,94,60.0,Ontario,Niagara Peninsula,NaN,Paul Gregutt,@paulgwine,Cave Spring 2013 Riesling Icewine Riesling (Ni...,Riesling,Cave Spring
Chile,73993,Chile,"Clos Apalta, depending on your point of view, ...",Clos Apalta,95,90.0,Colchagua Valley,NaN,NaN,Michael Schachner,@wineschach,Lapostolle 2008 Clos Apalta Red (Colchagua Val...,Red Blend,Lapostolle
China,109989,China,This deep ruby-colored wine features a bouquet...,Noble Dragon,89,18.0,China,NaN,NaN,Mike DeSimone,@worldwineguys,Chateau Changyu-Castel 2009 Noble Dragon Red (...,Cabernet Blend,Chateau Changyu-Castel
Croatia,64094,Croatia,This 100% Teran from Istria has aromas of blue...,Terra Mare,91,33.0,Istria,NaN,NaN,Jeff Jenssen,@worldwineguys,Trapan 2013 Terra Mare Teran (Istria),Teran,Trapan
Cyprus,45270,Cyprus,This Cretan indigenous white offers aromas of ...,NaN,89,21.0,Lemesos,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsiakkas 2014 Xynisteri (Lemesos),Xynisteri,Tsiakkas
Czech Republic,7272,Czech Republic,"This red blend has a nose of fresh cherry, red...",Rouc√≠,89,45.0,Moravia,NaN,NaN,Jeff Jenssen,@worldwineguys,Stapleton & Springer 2007 Rouc√≠ Red (Moravia),Red Blend,Stapleton & Springer
Egypt,110246,Egypt,"Ripe pear, apple and tropical fruit in the nos...",Caspar Blanc de Noirs,84,NaN,Egypt,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Sahara Vineyards 2008 Caspar Blanc de Noirs Gr...,Grenache,Sahara Vineyards
England,9909,England,"Touches of vanilla, cream and lovely hints of ...",Blanc de Blancs,95,70.0,England,NaN,NaN,Anne Krebiehl¬†MW,@AnneInVino,Nyetimber 2010 Blanc de Blancs Chardonnay (Eng...,Chardonnay,Nyetimber
France,36528,France,This is a fabulous wine from the greatest Cham...,Brut,100,259.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Krug 2002 Brut (Champagne),Champagne Blend,Krug
Georgia,40429,Georgia,"From it's musky, perfumed to nose to it's inte...",Qvevri Traditional Kakhuri Dry Unfiltered Ambe...,92,25.0,Kakheti,NaN,NaN,Anna Lee C. Iijima,NaN,Alaverdi Monastery Cellar 2010 Qvevri Traditio...,Rkatsiteli,Alaverdi Monastery Cellar
Germany,16522,Germany,"With layers upon layers of spicy saffron, peac...",Kiedrich Gr√§fenberg Trockenbeerenauslese,98,775.0,Rheingau,NaN,NaN,Anna Lee C. Iijima,NaN,Robert Weil 2015 Kiedrich Gr√§fenberg Trockenbe...,Riesling,Robert Weil
Greece,9812,Greece,"Vanilla, citrus and white flowers on the nose ...",NaN,93,16.0,Mantinia,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Dionysos 2014 Moschofilero (Mantinia),Moschofilero,Dionysos
Hungary,45988,Hungary,"This ethereal Tokaji Asz√∫ is golden in color, ...",6 Puttonyos Asz√∫ Gold Label,97,80.0,Tokaji,NaN,NaN,Jeff Jenssen,@worldwineguys,Royal Tokaji 2013 6 Puttonyos Asz√∫ Gold Label ...,White Blend,Royal Tokaji
India,6673,India,"The nose carries notes of cassis, blackberry a...",Dindori Reserve,93,20.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2011 Dindori Reserve Shiraz (Nashik),Shiraz,Sula
Israel,88685,Israel,"Inky red-violet to the eye, this wine has an i...",Reserve David Vineyard,94,25.0,Galilee,NaN,NaN,Mike DeSimone,@worldwineguys,Recanati 2011 Reserve David Vineyard Cabernet ...,Cabernet Sauvignon,Recanati
Italy,7335,Italy,Thick as molasses and dark as caramelized brow...,Occhio di Pernice,100,210.0,Tuscany,Vin Santo di Montepulciano,NaN,NaN,NaN,Avignonesi 1995 Occhio di Pernice (Vin Santo ...,Prugnolo Gentile,Avignonesi
Lebanon,4896,Lebanon,"Violet red to the eye, this wine is a blend of...",El,91,75.0,Lebanon,NaN,NaN,Mike DeSimone,@worldwineguys,Ixsir 2011 El Red (Lebanon),Red Blend,Ixsir
Luxembourg,78902,Luxembourg,"Made from Auxerrois, this delightful white has...",Bech-Kleinmacher Naumberg Grand Premier Cru,90,22.0,Moselle Luxembourgeoise,NaN,NaN,Jeff Jenssen,@worldwineguys,Domaines Vinsmoselle 2014 Bech-Kleinmacher Nau...,Auxerrois,Domaines Vinsmoselle
Macedonia,38503,Macedonia,This 100% Vranec presents the nose with black ...,Veritas,89,20.0,Tikves,NaN,NaN,Jeff Jenssen,@worldwineguys,Stobi 2011 Veritas Vranec (Tikves),Vranec,Stobi
Mexico,43799,Mexico,"A world-class wine regardless of origin, this ...",Amado IV,92,54.0,Valle de Guadalupe,NaN,NaN,Michael Schachner,@wineschach,Vi√±as de Garza 2007 Amado IV Red (Valle de Gua...,Red Blend,Vi√±as de Garza
Moldova,47131,Moldova,"Bright ruby in the glass, this wine is a blend...",Freedom Blend,91,25.0,Moldova,NaN,NaN,Jeff Jenssen,@worldwineguys,Purcari 2013 Freedom Blend Red (Moldova),Red Blend,Purcari
Morocco,39673,Morocco,"Aromas of black cherry, espresso bean and whit...",M√©daillon,93,18.0,Zenata,NaN,NaN,Mike DeSimone,@worldwineguys,Ouled Thaleb 2012 M√©daillon Red (Zenata),Red Blend,Ouled Thaleb
New Zealand,91851,New Zealand,"This full-bodied, richly tannic wine delivers....",Homage,95,100.0,Hawke's Bay,NaN,NaN,Joe Czerwinski,@JoeCz,Trinity Hill 2013 Homage Syrah (Hawke's Bay),Syrah,Trinity Hill
Peru,63521,Peru,"Earthy, warm and ripe on the bouquet, with a b...",Sinfon√≠a Tannat-Malbec-Petit Verdot,86,20.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2008 Sinfon√≠a Tannat-Malbec-Petit Verdo...,Red Blend,Tacama
Portugal,42197,Portugal,This is the latest release of what has long be...,Barca-Velha,100,450.0,Douro,NaN,NaN,Roger Voss,@vossroger,Casa Ferreirinha 2008 Barca-Velha Red (Douro),Portuguese Red,Casa Ferreirinha
Romania,5761,Romania,This late harvest Sauvignon Blanc is honey gol...,Conocul Ambrozy,92,28.0,Recas,NaN,NaN,Jeff Jenssen,@worldwineguys,Cramele Recas 2013 Conocul Ambrozy Sauvignon B...,Sauvignon Blanc,Cramele Recas
Serbia,29284,Serbia,A blend of 60% Prokupac and 40% Cabernet Sauvi...,Sub Rosa,89,40.0,≈Ωupa,NaN,NaN,Jeff Jenssen,@worldwineguys,Budimir 2009 Sub Rosa Red (≈Ωupa),Red Blend,Budimir
Slovakia,22687,Slovakia,"Delicious scents of honey, apples and petrol l...",NaN,87,16.0,Muzla,NaN,NaN,Anna Lee C. Iijima,NaN,Ch√¢teau Bela 2008 Riesling (Muzla),Riesling,Ch√¢teau Bela
Slovenia,123819,Slovenia,"This has ebullient aromas of cherry blossom, g...",Veliko,92,50.0,Brda,NaN,NaN,Anna Lee C. Iijima,NaN,Movia 2007 Veliko White (Brda),White Blend,Movia
South Africa,9912,South Africa,Only 95 cases were made of this Bordeaux-style...,Book 17 XVII,95,330.0,Stellenbosch,NaN,NaN,Lauren Buzzeo,@laurbuzz,De Toren 2014 Book 17 XVII Red (Stellenbosch),Bordeaux-style Red Blend,De Toren
Spain,40307,Spain,Luscious prune and blackberry aromas come with...,Clon de la Familia,98,450.0,Northern Spain,Ribera del Duero,NaN,Michael Schachner,@wineschach,Emilio Moro 2009 Clon de la Familia (Ribera d...,Tinto Fino,Emilio Moro
Switzerland,14187,Switzerland,"A Swiss blend of Pinot Noir and Gamay, this de...",D√¥le des Monts,90,30.0,Valais,NaN,NaN,Jeff Jenssen,@worldwineguys,Robert Gilliard 2012 D√¥le des Monts Pinot Noir...,Pinot Noir-Gamay,Robert Gilliard
Turkey,29781,Turkey,"Aromas of black cherry, brambly berry, violet ...",Pendore,92,38.0,Aegean,NaN,NaN,Mike DeSimone,@worldwineguys,Kavaklidere 2010 Pendore Syrah (Aegean),Syrah,Kavaklidere
US,45798,US,Tasted in a flight of great and famous Napa wi...,NaN,100,200.0,California,Napa Valley,Napa,NaN,NaN,Cardinale 2006 Cabernet Sauvignon (Napa Valley),Cabernet Sauvignon,Cardinale
Ukraine,88511,Ukraine,"This has aromas of white flowers, especially h...",Reserve,88,9.0,Ukraine,NaN,NaN,Jeff Jenssen,@worldwineguys,Koblevo NV Reserve Riesling (Ukraine),Riesling,Koblevo
Uruguay,14119,Uruguay,Dried blackberry aromas include welcome notes ...,B6 Parcela √önica,92,43.0,Canelones,NaN,NaN,Michael Schachner,@wineschach,Bouza 2015 B6 Parcela √önica Tannat (Canelones),Tannat,Bouza

üü¢ QUESTION 5 (HARD ‚Äì GROUPING + SORTING)

For each country, find the average price of wines, then display the results sorted from the most expensive average country to the least.

Expected output:

country

average price

sorted descending

üí° Think in steps:

Group by country

Compute mean price

Sort value

In [9]:
a=df.groupby('country').price.mean()
res=a.sort_values(ascending=False)
res

country
Switzerland               85.285714
England                   51.681159
Germany                   42.257547
France                    41.139120
Hungary                   40.648276
Italy                     39.663770
US                        36.573464
Canada                    35.712598
Australia                 35.437663
Israel                    31.768916
Austria                   30.762772
Lebanon                   30.685714
Spain                     28.215275
New Zealand               26.931785
Mexico                    26.785714
Uruguay                   26.403670
Portugal                  26.218256
Croatia                   25.450704
Slovenia                  24.812500
South Africa              24.668987
Turkey                    24.633333
Argentina                 24.510117
Serbia                    24.500000
Czech Republic            24.250000
Brazil                    23.765957
Luxembourg                23.333333
Greece                    22.364425
Chile                     20.786458
Morocco                   19.500000
Georgia                   19.321429
Peru                      18.062500
China                     18.000000
Moldova                   16.745763
Cyprus                    16.272727
Slovakia                  16.000000
Macedonia                 15.583333
Romania                   15.241667
Bulgaria                  14.645390
Armenia                   14.500000
India                     13.333333
Bosnia and Herzegovina    12.500000
Ukraine                    9.214286
Egypt                           NaN
Name: price, dtype: float64

üü¢ QUESTION 6 (HARD ‚Äì MultiIndex + reset_index + sorting)

Now we‚Äôll combine multiple concepts you just learned.

For each country and province combination, count how many wine reviews there are.
Then convert the result into a normal DataFrame and sort it by the count in descending order.

Expected steps (no code given):

Group by country AND province

Count rows

Reset index

Sort by count (descending)

In [10]:
g=(df.groupby(['country','province']).points.count()
.reset_index(name='review_count').sort_values(by='review_count',ascending=False))
g

    country          province  review_count
392      US        California         36247
415      US        Washington          8639
118  France          Bordeaux          5941
227   Italy           Tuscany          5897
409      US            Oregon          5373
..      ...               ...           ...
389  Turkey       Urla-Thrace             1
48   Canada      Canada Other             1
40   Brazil  Serra do Sudeste             1
395      US            Hawaii             1
399      US          Kentucky             1

[425 rows x 3 columns]

‚ùì Question 7 (FINAL)

Find the top 5 (country, province) combinations that have the highest average wine points.
Return a normal DataFrame sorted by average points (descending).

Expected thinking:

Group by country and province

Calculate mean points

Reset index

Sort by mean points

Take top 5

In [11]:
r=(df.groupby(['country','province']).points.mean().reset_index(name='h_a')
.sort_values(by='h_a',ascending=False).head(5))
r

      country       province        h_a
20    Austria  S√ºdburgenland  94.000000
278  Portugal        Madeira  93.230769
134   Germany    Mittelrhein  92.000000
85      Chile    Puente Alto  91.733333
26    Austria         Wachau  91.620397

INTERVIEW QUESTION

In [12]:
import pandas as pd
df=pd.DataFrame({ 'employee_id': [101,102,103,104,105,106,107,108,109,110],
    'name': ['Alice','Bob','Charlie','David','Eva','Frank','Grace','Helen','Ian','Jane'],
    'department': ['IT','HR','IT','Finance','HR','IT','Finance','HR','IT','Finance'],
    'experience_years': [5,3,8,10,2,6,4,7,1,9],
    'monthly_salary': [70000,45000,90000,120000,None,75000,65000,72000,40000,110000],
    'performance_score': [88,82,91,94,79,85,88,90,76,92],
    'location': ['Bangalore','Hyderabad','Bangalore','Mumbai','Hyderabad',
                 'Bangalore','Mumbai','Hyderabad','Bangalore','Mumbai']})
df

,employee_id,name,department,experience_years,monthly_salary,performance_score,location
0,101,Alice,IT,5,70000.0,88,Bangalore
1,102,Bob,HR,3,45000.0,82,Hyderabad
2,103,Charlie,IT,8,90000.0,91,Bangalore
3,104,David,Finance,10,120000.0,94,Mumbai
4,105,Eva,HR,2,NaN,79,Hyderabad
5,106,Frank,IT,6,75000.0,85,Bangalore
6,107,Grace,Finance,4,65000.0,88,Mumbai
7,108,Helen,HR,7,72000.0,90,Hyderabad
8,109,Ian,IT,1,40000.0,76,Bangalore
9,110,Jane,Finance,9,110000.0,92,Mumbai

In [13]:
df.loc[df.monthly_salary.notnull()]

,employee_id,name,department,experience_years,monthly_salary,performance_score,location
0,101,Alice,IT,5,70000.0,88,Bangalore
1,102,Bob,HR,3,45000.0,82,Hyderabad
2,103,Charlie,IT,8,90000.0,91,Bangalore
3,104,David,Finance,10,120000.0,94,Mumbai
5,106,Frank,IT,6,75000.0,85,Bangalore
6,107,Grace,Finance,4,65000.0,88,Mumbai
7,108,Helen,HR,7,72000.0,90,Hyderabad
8,109,Ian,IT,1,40000.0,76,Bangalore
9,110,Jane,Finance,9,110000.0,92,Mumbai

In [20]:
def q(r):
  if r.performance_score>=90:
     return "excellent"
  elif r.performance_score>=80:
    return "good"
  else:
    return "average"
df['Performance_Level']=df.apply(q,axis='columns')

df['value_index']=df.performance_score / df.monthly_salary
df

,employee_id,name,department,experience_years,monthly_salary,performance_score,location,Performance_Level,value_index
0,101,Alice,IT,5,70000.0,88,Bangalore,good,0.001257
1,102,Bob,HR,3,45000.0,82,Hyderabad,good,0.001822
2,103,Charlie,IT,8,90000.0,91,Bangalore,excellent,0.001011
3,104,David,Finance,10,120000.0,94,Mumbai,excellent,0.000783
4,105,Eva,HR,2,NaN,79,Hyderabad,average,NaN
5,106,Frank,IT,6,75000.0,85,Bangalore,good,0.001133
6,107,Grace,Finance,4,65000.0,88,Mumbai,good,0.001354
7,108,Helen,HR,7,72000.0,90,Hyderabad,excellent,0.001250
8,109,Ian,IT,1,40000.0,76,Bangalore,average,0.001900
9,110,Jane,Finance,9,110000.0,92,Mumbai,excellent,0.000836

In [15]:
s=df.groupby('department')[['performance_score','monthly_salary']].mean()
s

            performance_score  monthly_salary
department
Finance             91.333333    98333.333333
HR                  83.666667    58500.000000
IT                  85.000000    68750.000000

In [16]:
s=df.groupby('department').performance_score.mean()
r=s.sort_values(ascending=False)
r

department
Finance    91.333333
IT         85.000000
HR         83.666667
Name: performance_score, dtype: float64

In [17]:
r=df.groupby('name').value_index.max()
res=r.sort_values(ascending=False).head(3)
res

name
Ian      0.001900
Bob      0.001822
Grace    0.001354
Name: value_index, dtype: float64

In [19]:
df.loc[:,['name','department','performance_score','monthly_salary','Performance_Level','value_index'
]]

,name,department,performance_score,monthly_salary,Performance_Level,value_index
0,Alice,IT,88,70000.0,good,0.001257
1,Bob,HR,82,45000.0,good,0.001822
2,Charlie,IT,91,90000.0,excellent,0.001011
3,David,Finance,94,120000.0,excellent,0.000783
4,Eva,HR,79,NaN,good,NaN
5,Frank,IT,85,75000.0,good,0.001133
6,Grace,Finance,88,65000.0,good,0.001354
7,Helen,HR,90,72000.0,excellent,0.001250
8,Ian,IT,76,40000.0,good,0.001900
9,Jane,Finance,92,110000.0,excellent,0.000836